<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Webpage</title>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="customer_index.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>


</head>
<body>
    <h1 id ="tagline">Welcome, Let us add color to your life!</h1>
    <div id = "logos-border">
   <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <%= image_tag("paintlogo1.png", alt: "Boysen") %>
            </div>
            <div class="carousel-item">
                <%= image_tag("paintlogo2.png", alt: "Sphero") %>
            </div>
            <div class="carousel-item">
                <%= image_tag("paintlogo3.png", alt: "Guilder") %>
            </div>
            <div class="carousel-item">
                <%= image_tag("paintlogo4.png", alt: "Davies") %>
            </div>
        </div>
    </div>
    </div>

<% if @color.image_color.attached? %>
  <%= image_tag @color.image_color %>
<% else %>
  <p>No image uploaded.</p>
<% end %>

<div class="container">
    
        <div class="row">
            <div class="col-md-4">
                <div class="product-frame">
                    <img src="path/to/your/image1.jpg" alt="Product 1">
                    <div class="caption">Product 1</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="product-frame">
                    <img src="path/to/your/image2.jpg" alt="Product 2">
                    <div class="caption">Product 2</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="product-frame">
                    <img src="path/to/your/image3.jpg" alt="Product 3">
                    <div class="caption">Product 3</div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="product-frame">
                    <img src="path/to/your/image1.jpg" alt="Product 1">
                    <div class="caption">Product 1</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="product-frame">
                    <img src="path/to/your/image2.jpg" alt="Product 2">
                    <div class="caption">Product 2</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="product-frame">
                    <img src="path/to/your/image3.jpg" alt="Product 3">
                    <div class="caption">Product 3</div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>
