<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Webpage</title>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="index.css">
    
</head>
<body>
    <div id = "logos-border">
   <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <%= image_tag("paintlogo1.png", alt: "Boysen") %>
            </div>
            <div class="carousel-item">
                <%= image_tag("paintlogo2.png", alt: "Sphero") %>
            </div>
            <div class="carousel-item">
                <%= image_tag("paintlogo3.png", alt: "Guilder") %>
            </div>
            <div class="carousel-item">
                <%= image_tag("paintlogo4.png", alt: "Davies") %>
            </div>
        </div>
    </div>
    </div>

     <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="product-frame">
                    <div class="caption">Product 1</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="product-frame">
                    <div class="caption">Product 2</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="product-frame">
                    <div class="caption">Product 3</div>
                </div>
            </div>
        </div>
    </div>


</div>
</body>
</html>
