<!-- NAV BAR -->  
    <nav class="navbar navbar-expand-lg" style="background-color: #da6220;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
    TjStockOptima</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="colors">Colors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="customers">Customers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="products">Products</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<p class="alert alert-success"><%= notice %></p>

<h1>Colors</h1>

<div id="colors" class="container">
  <div class="row">
    <% @colors.each do |color| %>
      <div class="col-md-4 color-item card mb-4 shadow-sm">
        <div class="card-body">
          <% if color.image_color.attached? %>
            <%= image_tag color.image_color, class: "card-img-top" %>
          <% else %>
            <p class="text-muted">No image uploaded.</p>
          <% end %>
          <div class="card-text">
            <%= render color %>
          </div>
          <p class="mt-3">
            <%= link_to "Show this color", color, class: "btn btn-primary" %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= link_to "New color", new_color_path, class: "btn btn-success" %>

